# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/

# Swift Package Manager
.build/
Packages/
Package.resolved
*.xcodeproj

# macOS
.DS_Store
*.swp
*~

# IDEs
.idea/
*.code-workspace
.vscode/

# Secrets
*.env
credentials.json
